.location-page

	& > .row
		margin 0 !important
		padding 10px 0
		
	.panel-heading
		padding 10px 15px
		h4
			margin 0

	.panel-footer 
		form
			.form-group
				width 100%
				
			textarea
				width calc(100% - 80px)

	.message-input
		resize none
		
	.messages-wrapper
		max-height 600px
		overflow-y auto
		overflow-x hidden
		
	.help-block
		margin 3px 0 0 0
		font-size smaller
		
	.well
		white-space pre